:root {
  --color-bg: #ffdaee;
  --color-title: #ff6262;
  --color-btn-text: #fff;
  --color-btn-bg-no: #ff6d53;
  --color-btn-bg-yes: #ff428a;
}
@font-face {
  font-family: Lepka;
  src: url("font/LEPKA.otf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: var(--color-bg);
}
h1 {
  color: var(--color-title);
  font-family: Lepka;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
}
img {
  width: 32vh;
  object-fit: cover;
}
.button-div {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-right: 120px;
}
button {
  display: inline-flex;
  gap: 6px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: top 0.05s, left 0.05s;
  border-radius: 12px;
}

button > img {
  width: 18px;
}
.yes {
  background-color: var(--color-btn-bg-yes);
  color: var(--color-btn-text);
}
.no {
  background-color: var(--color-btn-bg-no);
  color: var(--color-btn-text);
  margin-left: 140px;
  position: absolute;
}
